<!DOCTYPE html>
<html>
<head>
	<title>fragments</title>
</head>
<body>
	<header th:fragment="header">
		<a href="/"><div>HomePage</div></a>
		<a href="/mini"><div>Minesweeper</div></a>
		<a href="/puzzle"><div>Puzzle</div></a>
		<a href="/guess"><div>GuessNumber</div></a>
		<a href="/ships"><div>Ships</div></a>
		<!-- <a href="/hangman"><div>HangMan</div></a> -->
		<a th:if="${@mainController.logged}" class="flRight" href="/logout"><div>Logout</div></a>
		<div th:if="${not @mainController.logged}" class="flRight">
			<form action="/login">
				<label for="name">Name</label><br>
				<input type="text" placeholder="Enter Name" name="name" required><br>
				<label for="pass">Password</label><br>
				<input type="password" placeholder="Enter Password" name="pass" required><br>
				<button type="submit" class="button" value="Login">Login</button>
			</form>
		</div>
	</header>


</body>
</html>